body {
    --background: white;
    --foreground: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    color: var(--foreground);;

}


.word-container {
    font-weight: bold;
    padding: 2rem;
}


.refresh-button {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 9vh;
    color : grey;
    background-color: var(--background) !important;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.refresh-button:hover {
  color: var(--foreground);
}

.button-container {
  position: fixed;
  left: 0;
  bottom: 35vh;
  width: 100%;
  text-align: center;
}


.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 17vh;

}



.card {
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border: 1px;
    border-color: var(--background);
    cursor: grab;
    user-select: none;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: bold;
    transition: transform 0.8s;
}



.card:hover {
    border-color: var(--foreground); !important;
    border-style: solid;

}

.card:active {
    cursor: grabbing !important;
}

.card.dragging {
    opacity: 0.5;
    transform: scale(0.5);
}


/* dark mode, change this to text_color and back color */
@media (prefers-color-scheme: dark) {
    body {
      --background: black !important;
      --foreground: white !important;
    }
}


/* portrait devices  */

@media screen and (orientation:portrait) {

    .card {
        display: block;
        font-size: 6vh !important;
        text-align: center;

    }

    .cards-container {
        clear: both;
        display: table;
        text-align: center;
        width: 100%;
    }

    .button-container {
        bottom: 12vh;
    }

    .card.dragging {
        opacity: 1 !important;
        transform: none !important;
    }

    .card:hover {
        border-color: var(--background); !important;

    }


    .refresh-button {
        color : var(--foreground) !important;
       font-size: 7vh;
    }
}



