body {
  font-family: Outfit, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}


.word-container {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  background-color: white;
}


.refresh-button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  background-color: white;
  color: grey;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.refresh-button:hover {
    color: black;
}


.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border: 1px;
    border-color: white;
    cursor: grab;
    user-select: none;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: bold;
    transition: transform 0.8s;
}

.card:hover {
    border-color: black !important;
    border-style: solid;
}

.card:active {
    cursor: grabbing !important;
}

.card.dragging {
    opacity: 0.5;
    transform: scale(0.5);
}


/* dark mode, change this to text_color and back color */
@media (prefers-color-scheme: dark) {
  body {
  background-color: black !important;
  color: white !important;
}
.card {
    background: black;
    border-color: black;
}
.card:hover {
    border-color: white !important;
}

.refresh-button:hover {
    color: white;
}

.refresh-button {
  background-color: black;
  color: grey;
  font-size: 2em;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}


    .cards {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        font-size: 24px !important;
    }
 
.refresh-button {
  font-size: 6em;
}

.card {
    font-size: 5em;
}


}


