


.callout {
    --callout-border-opacity: 1;
    
    border-width: 6px !important;
    background-color: var(--mycalloutcolor) !important;
// border-style: dashed !important;
    border-width: 5px !important;
    border-opacity: 1 !important;
    border-radius: 50px;
    border-color: rgba(var(--callout-color), 1 !important;

}


.callout-title
{
    margin-left: 50px !important;
    padding-left: 50PX !important;
}