.pdf-page-numbers {
  display: none;
}

.pdf-toolbar:hover .pdf-page-numbers {
    display: block;
}


.pdf-page-input {
  display: none;
}

.pdf-toolbar:hover .pdf-page-input {
    display: block;
}


.pdf-toolbar-divider
{
  display: none;
}


/*.pdf-toolbar:hover .pdf-toolbar-divider {
    display: block;
}
*/

[aria-label="Zoom out"] {
  display: none;
}

.pdf-toolbar:hover [aria-label="Zoom out"] {
    display: block;
}



[aria-label="Zoom in"] {
  display: none;
}

.pdf-toolbar:hover [aria-label="Zoom in"] {
    display: block;
}


[aria-label="Display options"] {
  display: none;
}

.pdf-toolbar:hover [aria-label="Display options"] {
    display: block;
}



[aria-label="Sidebar options"] {
  display: none;
}

.pdf-toolbar:hover [aria-label="Sidebar options"] {
    display: block;
}



[aria-label="Toggle sidebar"] {
  display: none;
}


.pdf-toolbar:hover [aria-label="Toggle sidebar"] {
    display: block;
}








.pdf-toolbar:hover .pdf-page-numbers {
    display: block;
}