
.another-quick-switcher__status__search-command {
  display: none;
}


.another-quick-switcher__custom-search__navigation-history-header {
  display: none;
}


.another-quick-switcher__status__count-input {
  display: none;
}


.another-quick-switcher__item.another-quick-switcher__directory_item::before {
  display: none;
}

.another-quick-switcher__item.another-quick-switcher__directory_item
  .another-quick-switcher__item__directory {
  display: none;
}