
.theme-dark {
	--mytitlecolor: #fcfcfc;
}


.theme-light {
	--mytitlecolor: #020202;
}

.inline-title{
    color: var(--mytitlecolor);
    font-size: 1.5em;
    text-align: left;
    padding-top: 8px;
    Padding-bottom: 50px;
    weight:600;
    border-bottom: 1px solid #6d6d6d;

}

img  {
    box-shadow: none;
}