/* for whatever reason as i tested this, i need to put "initialise",
        else the .tag below it won't be captured by obsidian.
        if removing works for you, can just remove */
.tag { }

.cm-hashtag,
.tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}

    /* border-radius and padding need to be separated as editing view
        has split css selector for "#" and "<tag-word>" */

    .cm-hashtag-begin {
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        padding-left: 8px;
    }
    .cm-hashtag-end {
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        padding-right: 8px;
    }


    /* i comment out background-color as it doesn't look good on hover
        due to how obsidian split between "#" and "<tag-word>" */
    .cm-s-obsidian span.cm-hashtag:is(.cm-hashtag-begin,.cm-hashtag-end):hover,
    .tag:hover {
        color: white;
        /*
        background-color: var(--text-accent-hover);
        */
    }


    /* attribute selector "$=" matches tags that ends with that word
        where as "^=" matches tags that starts with that tag */

    .cm-s-obsidian span.cm-hashtag[class$="my"],
    .tag[href^="#my"]
        { background-color: #red; }

    .cm-s-obsidian span.cm-hashtag[class$="important"],
    .tag[href^="#important"]
        { background-color: red; }

    .cm-s-obsidian span.cm-hashtag[class$="complete"],
    .tag[href^="#complete"]
        { background-color: green; }

    .cm-s-obsidian span.cm-hashtag[class$="inprogress"],
    .tag[href^="#inprogress"]
        { background-color: orange; }